:root {
  --grey-900: #2a4144;
  --grey-500: #86a2a5;
  --white: #ffffff;
  --green-600: #0c7d69;
  --green-200: #e0f1e8;
  --red: #d73c3c;
}

@font-face {
  font-display: swap;
  font-family: 'Karla Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/static/Karla-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Karla Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/static/Karla-Bold.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
p,
input[type='radio'] {
  margin: 0;
}

fieldset {
  padding: 0;
  border: none;
}

legend {
  padding: 0;
}

body {
  padding: 2rem 1rem;
  background-color: var(--green-200);
  font-family: 'Karla Regular';
  color: var(--grey-900);
  line-height: 1.5;
  min-height: 100dvh;

  @media (width >= 48rem) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 16px;

  @media (width >= 48rem) {
    width: 43.125rem;
  }
}

.card__title {
  margin-bottom: 2rem;
  font-family: 'Karla Bold';
  font-size: 2rem;
  line-height: 1;
}

.card__form {
  display: grid;
  gap: 1.5rem;

  @media (width >= 48rem) {
    grid-template-columns: repeat(2, 1fr);

    .card__field-email {
      grid-column: 1 / 3;
    }

    .card__contact-method {
      grid-column: 1 / 3;
    }

    .card__field-textarea {
      grid-column: 1 / 3;
    }
  }
}

.card__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.required {
  color: var(--green-600);
}

.card__field-input {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--grey-500);
  display: flex;
  gap: 0.75rem;
}

.card__contact-method {
  display: grid;
  gap: 1rem;

  @media (width >= 40rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card__contact-method-legend {
  margin-bottom: 1rem;
}

.card__field-textarea {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.card__field-texta {
  padding: 0.75rem 1.5rem;
  min-height: 15rem;
  border: 1px solid var(--grey-500);
  border-radius: 8px;

  @media (width >= 48rem) {
    min-height: 8.25rem;
  }

  @media (width >= 90rem) {
    min-height: 6.5625rem;
  }
}

.card__field-consent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__field-checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
  border: var(--grey-500);
}

.card__submit-button {
  background-color: var(--green-600);
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 8px;
  color: var(--white);
  font-size: 1.125rem;
  font-family: 'Karla Bold';
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
